.details-container {
    margin: 4rem;
}

.details-container a {
    color: #0F172A;
}

.details-container button {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.title-container h1 {
    margin-top: 1rem;
}

.flex-title-rating {
    display: flex;
    align-items: inherit;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.IMDB-rating {
    display: flex;
}

.IMDB-rating img {
    width: 36px;
    margin-right: 6px;
}

.image-video-container {
    display: flex;
    margin-bottom: 1rem;
}

.image-video-container img {
    width: 30%;
}

.video {
    width: 100%;
    height: 100%;
    margin-left: 1rem;
}

.movie-categories-container {
    display: flex;
    margin-bottom: 1rem;
}

.movie-categories-container p {
    border: 2px #0F172A solid;
    border-radius: 50px;
    padding: 0.1rem 1.2rem;
    margin-right: 1rem;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    .details-container {
        margin: 1rem;
    }

    .image-video-container {
        flex-direction: column;
    }

    .video {
        margin: 0;
    }

    .image-video-container img {
        margin-bottom: 1rem;
    }

    .image-video-container img {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .flex-title-rating {
        flex-direction: column;
    }

    .image-video-container img {
        width: 100%;
    }

    .IMDB-rating {
        margin-top: 0.5rem;
    }

    .IMDB-rating img {
        width: 20px;
        margin-right: 2px;
    }

    .image-video-container img {
        margin-bottom: 1rem;
    }

    .video {
        margin-left: 0;
    }

    .movie-categories-container {
        display: block;
        text-align: center;
    }

    .movie-categories-container p {
        margin: 1rem 0;
    }
}