@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
  color: #1e293b;
}

h1 {
  font-weight: 900;
  font-size: 2.25rem;
  /* 36px */
  line-height: 2.5rem;
  /* 40px */
}

h2 {
  font-size: 1.875rem;
  /* 30px */
  line-height: 2.25rem;
  /* 36px */
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  /* 24px */
  line-height: 2rem;
  /* 32px */
  font-weight: 600;
}

h4 {
  font-size: 1.25rem;
  /* 20px */
  line-height: 1.75rem;
  /* 28px */
  font-weight: 500;
}

p {
  font-size: 1rem;
  /* 16px */
}

a {
  text-decoration: none;
  font-size: 1rem;
}